services:
  nginx:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx/conf.d/app.prod.http.conf:/etc/nginx/conf.d/default.conf:ro
      - ./infra/nginx/conf.d/includes:/etc/nginx/conf.d/includes:ro
      - ./infra/certs:/etc/nginx/certs:ro
